.container{
    position: sticky;
    background: black;
    color: white ;
    height: 70px ;
    
    
}
#imp{
    float: left ;
    padding: 25px ;
}
.less{
    float: right ;
    padding: 25px ;

}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right ;
}
img{
    height: 500px ;
    width: 450px ;
    padding-right : 35px ;
    padding-top: 25px ;
    padding-bottom: 25px ;
}
button{
    background: black;
    color : white ;
    padding: 5px 25px ;
}